/*body{
    width: 1280px;
    height: 1544px;
    border: 1px solid #000;
    background: #FFFFFF;
    font-family: Poppins;
    margin-left: 125px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.remove-row {
    cursor: pointer;
    color: red;
    font-weight: bold;
    border: none;
    background: none;
    font-size: larger;
}

.totals-container {
    margin-top: 20px;
}

.totals-container table {
    border: 1px solid #ddd;
}

.totals-container td {
    padding: 8px;
    text-align: left;
}

.totals-container span {
    font-weight: bold;
}
*/

body {
    width: 70%; /* Ajuster la largeur comme je le souhaite */
    /*height: 100vh;*/
    margin: 0 auto; /* Ajouter cette ligne pour centrer le contenu horizontalement */
    border: 1px solid #000;
    border-radius: 5px 5px 5px 5px;
    background: #FFFFFF;
    font-family: Poppins;
    padding: 20px; /* Ajouter de l'espace autour du contenu */
}

#logo{
    display: flex;
    justify-content: center;
}

/********************************** Menu principal ****************************/
#menu{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: space-around; 
    align-self: center; 
    width: 710px;
    height: 30px; 
    margin-top: 50px;
    margin-bottom: 30px;
}

.menu p{
    font-size: large;
    font-weight: bold;
}

#menu, p{
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.42px;
}

.principal:hover, .checkout:hover, .contact:hover, .about:hover{
    color: #6066FA;
}

a{
    text-decoration: none;
}

/********************************** Panier ****************************/

h1{
    font-family: Poppins;
    font-size: 25px;
    font-style: bold;
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.remove-row {
    cursor: pointer;
    color: red;
    font-weight: bold;
    border: none;
    background: none;
    font-size: larger;
}

.totals-container {
    margin-top: 20px;
}

.totals-container table {
    border: 1px solid #ddd;
}

.totals-container td {
    padding: 8px;
    text-align: left;
}

.totals-container span {
    font-weight: bold;
}

.label {
    width: 70%;
}
label {
    display: block;
    margin: 0 11vw;
    padding: 5px;
    
    
}

/******************************** FOOTER *******************************/

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
}

.footer{
    display: flex;
    justify-content: flex-end;  
}

.logo-small{
    width: 100px;
    height: 52px;
    margin: 15px;
}

.icone{
    width: 25px;
    height: 25px;
    color: #333333;
    margin: 2px;
}

#icones a:hover{
    color: #6066FA;
}

#icones{
    display: flex;
    justify-content: center;
    flex-direction:column; 
    flex-wrap: wrap;
    align-content: center;
}

.icones {
    display: flex;
    justify-content: center;
    width: 72px;
    height: 30px;
    padding: 10px;  
}

.navigation{
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.navigation h3{
    color: #333;
    font-family: Poppins;
    font-size: 15px;
    font-style: bold;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.42px;
}

.navigation p{
    color: #808080;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
    letter-spacing: -0.39px;
}

.navigation a{
    text-decoration: none;
    color: #808080;
}

.navigation a:hover{
    color: #6066FA;
}

.informations{
    padding: 10px;
}

.informations h3{
    color: #333;
    font-family: Poppins;
    font-size: 15px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
}

.informations p{
    color: #808080;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.39px;
}

#follow{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center; 
}

.follow{
    padding: 10px;
    margin-left: 25px;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px; 
}

.contact h3{
    color: #333;
    font-family: Poppins;
    font-size: 15px;
    font-style: bold;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
}

/* Copyright */

#copyright{
    display: flex;
    justify-content: center;
}

.copyright{
    border-top: solid;
    border-color: #e6e6e6;
    width: 705px;
    height: 28px;
    display: flex;
    justify-content: space-between; 
    align-self: center; 
}

.copyright p{
    color: #808080;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    letter-spacing: -0.27px;  
}