/*body{
    width: 1280px;
    height: 1544px;
    border: 1px solid #000;
    background: #FFFFFF;
    font-family: Poppins;
    margin-left: 125px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.remove-row {
    cursor: pointer;
    color: red;
    font-weight: bold;
    border: none;
    background: none;
    font-size: larger;
}

.totals-container {
    margin-top: 20px;
}

.totals-container table {
    border: 1px solid #ddd;
}

.totals-container td {
    padding: 8px;
    text-align: left;
}

.totals-container span {
    font-weight: bold;
}
*/

body {
    width: 70%; /* Ajustez la largeur comme vous le souhaitez */
    /*height: 100vh;*/
    margin: 0 auto; /* Ajoutez cette ligne pour centrer le contenu horizontalement */
    border: 1px solid #000;
    background: #FFFFFF;
    font-family: Poppins;
    padding: 20px; /* Ajoutez de l'espace autour du contenu */
}

table, h1 {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.remove-row {
    cursor: pointer;
    color: red;
    font-weight: bold;
    border: none;
    background: none;
    font-size: larger;
}

.totals-container {
    margin-top: 20px;
}

.totals-container table {
    border: 1px solid #ddd;
}

.totals-container td {
    padding: 8px;
    text-align: left;
}

.totals-container span {
    font-weight: bold;
}

.label {
    width: 70%;
}
label {
    display: block;
    margin: 0 11vw;
    padding: 5px;
    
    
}